{% extends "main/base.html" %}

{% block title %}
Регистраиця
{% endblock %}

{% block body %}
<h1> {{ self.title() }}</h1>
<form method="post" class="form-control d-flex flex-column gap-2" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.name }}
            {% if form.name.errors %}
        <div class="invalid-feedback" style="display: block!important;">
            {% for error in form.name.errors %}
            <span> {{ error }} </span>
            {% endfor %}
        </div>
        {% endif %}
    {{ form.login }}
        {% if form.login.errors %}
        <div class="invalid-feedback" style="display: block!important;">
            {% for error in form.login.errors %}
            <span> {{ error }} </span>
            {% endfor %}
        </div>
        {% endif %}
    {{ form.role }}
    {{ form.password }}
            {% if form.password.errors %}
        <div class="invalid-feedback" style="display: block!important;">
            {% for error in form.password.errors %}
            <span> {{ error }} </span>
            {% endfor %}
        </div>
        {% endif %}
    {{ form.confirm_password }}
                {% if form.confirm_password.errors %}
        <div class="invalid-feedback" style="display: block!important;">
            {% for error in form.confirm_password.errors %}
            <span> {{ error }} </span>
            {% endfor %}
        </div>
        {% endif %}
    {{ form.avatar }}
    {{ form.submit }}
</form>
{% endblock %}