@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Comfortaa/Comfortaa-Regular.ttf");
}

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Comfortaa/Comfortaa-SemiBold.ttf");
}